@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<h2>
    Admin Dashboard.
</h2>

<a asp-area="" asp-controller="Home" asp-action="Index">TStore</a>
