<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/market.png" type="image/x-icon" />
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />  *@
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/css/header-menu-button.css" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="content">
        <!-- header -->
        <div class="header">

            <!--  site link  -->
            <a asp-action="Index">

                <img src="~/market.png"
                     id="header-link-img"
                     alt="market" />

                <p style="font-family: Roboto; font-weight:bold; color:black;">TStore</p>
            </a>

            <!-- header-menu -->
            <div id="header-menu">

                <!-- categories -->
                <a class="header-menu-button"
                   id="header-menu-button-categories"
                   asp-controller="Home"
                   asp-action="Categories">
                    <p>Categories</p>
                </a>

                <!-- ContactUs -->
                <a class="header-menu-button" id="header-menu-button-contactus">
                    <p>ContactUs</p>
                </a>
            </div>

            <div id="UserIdentity">
                @if (User.Identity.IsAuthenticated)
                {
                    <p>Hello, @User.Identity.Name</p>
                    <a class="header-menu-button"
                       id="header-menu-button-logout"
                       asp-controller="Account" asp-action="Logout">
                        <p>Logout</p>
                    </a>
                }
                else
                {
                    <a class="header-menu-button"
                       id="header-menu-button-login"
                       asp-controller="Account" asp-action="Login">
                        <p>Login</p>
                    </a>
                    <a class="header-menu-button"
                       id="header-menu-button-register"
                       asp-controller="Account" asp-action="Register">
                        <p>Register</p>
                    </a>
                }
            </div>
        </div>

        <!-- page content -->
        <div id="page-content">

            @RenderBody()

        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>