@font-face {
    font-family: 'Roboto';
    src: url("/css/font/Roboto-Regular.ttf") format("truetype");
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to left top, rgb(151, 10, 10), rgb(212, 15, 15), rgb(183, 12, 12));
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.content {
    background: linear-gradient(to left, rgb(232, 231, 231), rgb(240, 240, 240));
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(35, 34, 34, 0.25);
    width: calc(100% - 60px);
    min-height: calc(100vh - 60px);
    margin: 30px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.header {
    width: 100%;
    height: 50px;
    display: flex;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #fcd3d3;
}

    .header a {
        text-decoration: none !important;
        display: flex;
        align-items: center;
        margin-left: 20px;
    }

        .header a img {
            width: 50px;
        }

#header-menu {
    display: flex;
}

#UserIdentity {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
}

#UserManage {
    display: flex;
    margin-left: auto;
    gap: 20px;
    margin-right: 20px;
}

.user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

    #page-content {
        flex-grow: 1;
        width: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }