@model IEnumerable<TStore.Category>

@{
    ViewData["Title"] = "TStore";
}

<link rel="stylesheet" href="~/css/index.css" />

<div class="slider">
    <!-- Each slide -->
    @foreach (var item in Model)
    {
        <a class="slide" href="">
            <img src="data:png;base64,@Convert.ToBase64String(item.Image)" alt="@item.Name" />
            <p>@item.Name</p>
        </a>
    }
</div>
