@{
    ViewData["Title"] = "TStore";
}

<link rel="stylesheet" href="~/css/index.css"/>

<div class="slider">
    <div class="slides">
        <!-- Each slide -->
        <a class="slide" href="products/headSets">
            <img src="image/index/slider/headset.png" alt="headset" />
            <p>Headsets</p>
        </a>
    </div>
</div>
